.DS_Store

# Build binaries
bin/*

# Editor/IDE files
*~
.idea/
*.iml
coverage.txt

# Build binaries
infrakit/*

# Vendored sources.  These are synced during the build by govendor.
instance/*/*/cmd/vendor/*/
